:root {
    --mainBgColor: #aed48c;
}
/* consider using variables here for numeric constants */

/* global resets */
html {
    scroll-behavior: smooth;
}
body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Poppins', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p.menu-item-details {
    margin: 0;
}

/* main section */
body {
    background-color: var(--mainBgColor);
}

.main-container {
    background-color: #F7F8F8;
    max-width: 1040px;
    width: 100%;
    /* height: 100vh; */
    /* this margin left is problematic for me because I don't remmeber how to get internal calculated width inside this css rule in-the-moment, to say, replace '400px' constant */
    margin-left: calc(50% - 520px);
}

.item-container {
    width: 100%;
    /* height: 400px; */
    padding: 20px;
    display: inline-block;
}

.item-list {
    /* width: 100%; */
    /* height: 100%; */
    /* border: blue solid 2px; */
    padding: 0;
    display: inline-block;
}

.menu-item {
    width: 302px;
    display: inline-block;
    background-color: white;
    cursor: pointer;
    display: inline-block;
    /* border: orange solid 2px; */
    padding: 0;
    margin: 15px;
}

.menu-item-details {
    display: inline-block;
}

.menu-item-details.title {
    /* width: calc(100% - 36px); */
    width: 100%;
    padding: 16px 18px 4px 18px;
    font-size: 20px;
    letter-spacing: -0.01em;
    font-family: Calibri-Bold, Calibri;
    font-weight: 700;
}

.menu-item-details.value {
    width: 100%;
    padding: 0 18px 0 18px;
    font-size: 16px;
    letter-spacing: -0.01em;
    font-family: Calibri;
}

.menu-item-details.decription {
    width: 100%;
    padding: 20px 18px 20px 18px;
    font-size: 18px;
    letter-spacing: -0.03em;
    font-family: Calibri;
}

.menu-item-subsection {
    display: table;
    width: 50%;
    padding: 0;
}

.menu-item-subsection-container {
    /* display: flex; */
    padding: 0;
}

.menu-item-details.subsection {
    width: 100%;
    height: 120px;
    font-size: 16px;
    font-family: Calibri-Bold, Calibri;
    font-weight: 500;
    color: white;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.menu-item-details.subsection.dark {
    background-color: #7c7c7c;
}

.menu-item-details.subsection.light {
    background-color: #a3a3a3;
}

/* caution, text is still not completely hidden, debug that */
.obscure.menu-item,
.obscure .menu-item-details.subsection {
    background-color: #a3a3a3;
    color: #a3a3a3;
}

.obscure .menu-item-details.title {
    color: black;
}













/* :root {
    --mainBgColor: #aed48c;
    --mainContainerBgColor: #ffffff;
    --primarySolidColor: #304696;
    --primaryContentColor: #cfcb9f;
    --secondaryContentColor: #f7f1c8;
    --mainTextColor: #ffffff;
    --successColor: #21bfbd;
    --failColor: #b50b30;
    --secondarySolidColor: #6b9acf;
} */

/* body {
    background-color: var(--mainBgColor);
    min-width: 800px;
} */

/* .main-container {
    width: 800px;
    display: inline-block;
    margin-left: calc(50% - 400px);
    background-color: var(--mainContainerBgColor);
} */

/* .main {
    min-height: calc(100vh - 335px);
} */

/* .footer {
    width: 100%;
    height: 60px;
    text-align: center;
    display: inline-block;
    color: var(--mainTextColor);
    background-color: var(--primarySolidColor);
    line-height: 30px;
    font-size: 20px;
} */

/* .image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    width: 248px;
    height: 100%;
} */

/* .header {
    width: calc(100% - 4px);
    display: flex;
    height: 200px;
    border: var(--primarySolidColor) solid 2px;
} */

/* .header-text {
    color: var(--mainTextColor);
    text-align: center;
    width: 300px;
    height: 100%;
    line-height: 40px;
    font-size: 24px;
    display: inline-block;
    background-color: var(--primaryContentColor);
} */

/* .header-text h2 {
    margin: 20px 5px;
} */

/* .message {
    width: 100%;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
} */

/* .success {
    background-color: var(--successColor);
} */

/* .failure {
    background-color: var(--failColor);
} */

/* .menu {
    width: 100%;
    height: 50px;
    display: inline-block;
    line-height: 46px;
    font-size: 20px;
    background-color: var(--primarySolidColor);
} */

/* .menu-itemaaa {
    padding: 0 15px;
    display: inline-block;
    text-align: center;
    border: var(--secondarySolidColor) solid 2px;
    text-decoration: none;
    color: var(--mainTextColor);
    font-weight: bold;
} */

/* .menu-itemaaa:hover {
    background-color: var(--secondarySolidColor);
} */

/* .container {
    border: var(--primarySolidColor) solid 1px;
    border-radius: 20px;
    background-color: var(--primaryContentColor);
    display: inline-block;
    width: 80%;
    padding: 25px;
    margin: 25px 7%;
} */

/* .container span {
    color: var(--primarySolidColor);
    font-size: 18px;
    width: 100%;
    display: inline-block;
    line-height: 36px;
    font-weight: bold;
} */

/* button {
    cursor: pointer;
    color: var(--mainTextColor);
    border: var(--primarySolidColor) solid 2px;
    background-color: var(--secondarySolidColor);
    border-radius: 10px;
    display: inline-block;
    padding: 0 10px;
    margin: 5px 5px;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
} */

/* button:hover {
    background-color: var(--primarySolidColor);
} */

/* .list-input {
    width: 100px;
} */

/* .new-input {
    width: 300px;
    margin-bottom: 10px;
} */

/* .login-input {
    width: 200px;
    margin-bottom: 10px;
} */

/* input {
    display: inline-block;
    border: var(--primarySolidColor) solid 2px;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 10px;
} */

/* input:hover {
    background-color: var(--secondaryContentColor);
} */
